

h1, h3, a {
  text-align: center;
}
html {
  margin-right: 100px;
  margin-left: 100px;
}

#hk, #london, #maui {
  display: none;
}

.row {
  background-image: url("../img/clouds.jpg");
}

a {
  color: white;
}
