

h1, h3, a {
  text-align: center;
}
html {
  margin-right: 100px;
  margin-left: 100px;
}

#hk, #london, #maui {
  display: none;
}

.section1 {
  background-color: #e6f1e4;
  height: 100%;
  padding: 15px
}

.section2 {
  height: 100%;
  padding: 15px
}

.section2 p {
  text-align: center;
}

.picture {
  text-align: center;
}
